.radio-item {
    align-items: baseline;
}
.radio-item input {
    margin-right: 10px;
}
h1 {
    margin-top: 30px;
}
button.btn.btn-light {
    margin-right: 10px;
}
button.btn.btn-light.active{
    background-color: #dae0e5;
    box-shadow: 0 0 0 0.2rem rgba(216,217,219,.5);
}
.categories-buttons-wrapper{
    display: none;
}
.categories-buttons-wrapper.active{
    display: block;
}
.buttons-wrapper {
    margin-top: 60px;
}
.search-wrapper{
    display: none;
 }
 .search-wrapper.active{
     display: block;
 }
 button.btn.btn-primary.btn-lg {
    margin-top: 20px;
}
